@{
    var controller = ViewContext.RouteData.Values["Controller"]?.ToString()?.ToLower()?? String.Empty;
    var area = ViewContext.RouteData.Values["area"]?.ToString()?.ToLower() ?? String.Empty;
}




<a class="navbar-brand" href="#">WebLabsV02</a>
<div class="navbar-nav">
    <a class="nav-item nav-link @(controller=="home"?"active":"")" asp-controller="home" asp-action="index">Лб 1</a>
    <a class="nav-item nav-link @(controller=="product"?"active":"")" asp-controller="Movie" asp-action="Index">Каталог</a>
    <a class="nav-item nav-link @(area=="admin"?"active":"")" asp-area="Admin" asp-page="/Index">Администрирование</a>
</div>