@{
    var controller = ViewContext.RouteData.Values["controller"]?
    .ToString()?
    .ToLower()
    ?? String.Empty;
}




<a class="navbar-brand" href="#">WebLabsV02</a>
<div class="navbar-nav">
    <a class="nav-item nav-link @(controller=="home"?"active":"")"
       asp-controller="home"
       asp-action="index">Лб 1</a>
    <a asp-controller="Movie" asp-action="Index" class="nav-item nav-link">Каталог</a>
    <a asp-area="Admin" asp-page="/Index" class="nav-item nav-link">Администрирование</a>
</div>