@using WEB.Models
@model List<DemoList>
@{
    ViewBag.Title = "Index";
}


    <main class="container">
    
        
        <h1>@ViewData["Name"]</h1>
    

        <h2>Список</h2>

        <ol>
            @for (int i = 1; i < 6; i++)
            {
                <li>номер @i</li>
            }
        </ol>

        <hr />

        <h2>Форма</h2>

        <form method="post">
            <fieldset class="row mb-3">
                <div class="col-sm-10">
                    <div>
                        <select class="form-select">
                            @foreach (var item in Model)
                            {
                                <option asp-for="Id">@item.Name</option>
                            }
                           
                        </select>
                    </div>
                    <div class="form-check">
                        <input class ="form-check-input" type="checkbox" name="чек-бокс 1" />
                        <label class ="form-check-label">чек-бокс 1</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="чек-бокс 2" />
                        <label class="form-check-label">чек-бокс 2</label>
                    </div>

                   
                   
                    
                </div>
                <div class="col-sm-12">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radio1" />
                        <label class="form-check-label">radio-1</label>
                    </div>


                </div>
                <div class="col-sm-12">
                    <div class="form-cheak">
                        <input class="form-check-input" type="radio" name="radio2" />
                        <label class="form-check-label">radio-2</label>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-cheak">
                        <input class="form-check-input" type="radio" name="radio3" />
                        <label class="form-check-label">radio-3</label>
                    </div>
                </div>
            </fieldset>
           

            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </main>
  